# =========================
# Global
# =========================
.env
.env.*
!.env.example

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

# =========================
# Frontend (React)
# =========================
frontend/aidflow-ui/node_modules/
frontend/aidflow-ui/dist/
frontend/aidflow-ui/.env
frontend/aidflow-ui/.env.*

# =========================
# Backend (Express)
# =========================
backend/aidflow-api/node_modules/
backend/aidflow-api/logs/
backend/aidflow-api/.env
backend/aidflow-api/.env.*

# =========================
# Blockchain (Hardhat)
# =========================
blockchain/node_modules/
blockchain/artifacts/
blockchain/cache/
blockchain/coverage/
blockchain/.env
blockchain/.env.*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
